@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "lofi";
  default: true;
  --color-primary: oklch(74% 0.16 232.661);
  --color-accent: oklch(60.21% 0.1941 336.5);
}


@font-face {
  font-family: "starjedi";
  src: local("starjedi"),
    url('./assets/fonts/starjedi.woff2')
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.font-header {
  font-family: "starjedi";
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}